@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 10px;">Welcome to FarmTrack</h1>
    <p>Manage your Farmenterprise easily from home</p>
</div>




